<div *ngIf="visible" class="modal-background">
  <div class="modal-card">
    <div *ngIf="type === 'confirm'">
      <h1 >Do you really wanna {{ text }} this movie?</h1>
      <div class="buttons">
        <button class="primary-btn" (click)="close(true)">{{ text }}</button>
        <button class="primary-btn danger-btn" (click)="close(false)">Cancel</button>
      </div>
    </div>

    <div *ngIf="type === 'edit'">
      <form class="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="rating">Rating</label>
          <input
            type="text"
            class="form-control"
            id="rating"
            type="text"
            placeholder="Enter rating"
            [(ngModel)]="rating"
            name="email"
          />
        </div>
        <div class="buttons">
          <button class="primary-btn" type="submit" [disabled]="rating === 0" [class.disabled]="rating === 0">
            {{ text }}
          </button>
          <button class="primary-btn danger-btn" type="button" (click)="close(false)">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
