div {
  color: #fff;
}

div a {
  color: var(--primary-color);
  text-decoration: none;
}

div li {
  list-style: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-body {
  width: 70%;
}

.home-body h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 50px;
  margin-bottom: 40px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 19px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 20px;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &:hover input ~ .checkmark {
    background-color: #fff;
  }

  & input:checked ~ .checkmark {
    background-color: var(--primary-color);
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: translate(-25%, -60%) rotate(45deg);
    -ms-transform: translate(-25%, -60%) rotate(45deg);
    transform: translate(-25%, -60%) rotate(45deg);
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
