<div class="container home-container">
  <h1>My Movie List</h1>
  <div class="home-body">
    <h2>Features done since the presentation</h2>
    <div class="feature-container">
      <label class="checkbox-container"
        >Added Integration tests with Karate
        <input type="checkbox" checked="checked" disabled />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container"
        >Invalid Request Params
        <input type="checkbox" checked="checked" disabled />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container"
        >Fix API unavailable error
        <input type="checkbox" checked="checked" disabled />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container"
        >Done error handling when acessing unavailable MySQL DB
        <input type="checkbox" checked="checked" disabled />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container"
        >Done error handling when acessing unavailable MongoDB
        <input type="checkbox" checked="checked" disabled />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container"
        >Swagger adjustment, wrong params and unprecise description
        <input type="checkbox" checked="checked" disabled />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container"
        >Put 12 items for pageable
        <input type="checkbox" checked="checked" disabled />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container"
        >File log
        <input type="checkbox" checked="checked" disabled />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container"
        >Read.me file improved
        <input type="checkbox" checked="checked" disabled />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>
