<div>
  <div *ngIf="!objectIsEmpty(dataContent)">
    <div *ngIf="!dataContent?.empty; else emptyList">
      <div class="list" *ngIf="!loading; else isLoading">
        <div *ngFor="let movie of movies" class="movie-card">
          <!-- implement images -->
          <div class="card-content">
            <div *ngIf="type === 'add'" class="add-icon icon">
              <fa-icon
                class="card-icon"
                [icon]="faPlusCircle"
                (click)="openModal({ movieId: movie.id, add: true })"
              ></fa-icon>
            </div>
            <div *ngIf="type === 'remove'" class="remove-icon icon">
              <div>
                <fa-icon
                  class="card-icon"
                  [icon]="faMinusCircle"
                  (click)="openModal({ movieId: movie.id, add: false })"
                ></fa-icon>
                <fa-icon class="card-icon" [icon]="faEdit" (click)="openEditModal(movie.id)"></fa-icon>
              </div>
            </div>
            <div class="info-container" [routerLink]="['/movie', movie]">
              <h2 class="movie-info">{{ movie.name }}</h2>
              <p class="movie-info">Year: {{ movie.release_date }}</p>
              <p class="movie-info">Language: {{ movie.language }}</p>
              <p class="movie-info">Rating: {{ movie.vote_average }}</p>
            </div>
            <div class="hover-effect"></div>
          </div>
        </div>
      </div>
      <div class="pagination">
        <button class="btn pagination-btn" (click)="previousPage()" [disabled]="dataContent.pageable?.pageNumber <= 0">
          Previous
        </button>
        <span
          >Page {{ dataContent?.pageable?.pageNumber + 1 }}
          <span *ngIf="pageTotal; else pageUnknown"> /{{ dataContent.totalPages }} </span>
          <ng-template #pageUnknown> / ... </ng-template>
        </span>
        <button
          class="btn pagination-btn"
          (click)="nextPage()"
          [disabled]="dataContent?.pageable?.pageNumber + 1 >= dataContent?.totalPages"
        >
          Next
        </button>
      </div>
    </div>
  </div>

  <ng-template #isLoading>
    <app-loader></app-loader>
  </ng-template>

  <ng-template #emptyList>
    <h2 class="error-title">The list has no movies</h2>
  </ng-template>

  <app-modal
    (emiter)="modalEvent($event)"
    [modalData]="{ visible: modalData.visible, text: modalData.text, type: 'confirm' }"
  ></app-modal>
  <app-modal
    (emiter)="editRating($event)"
    [modalData]="{ visible: modalEditData.visible, text: 'Save', type: 'edit' }"
  ></app-modal>
  <app-modal-info
    (closeModal)="modalInfo.visible = false"
    [infoData]="{ message: modalInfo.message, visible: modalInfo.visible, type: modalInfo.type }"
  ></app-modal-info>
</div>
