* {
  color: #fff;
}

h1 {
  margin-bottom: 30px;
}

button,
input,
select,
textarea,
option {
  color: #000;
}

h1,
h3 {
  text-align: center;
}

.search-form{
  display: grid;
  grid-template-columns: 85% 15%;
  margin-bottom: 20px;
}

.search-form input{
  width: 99%;
}

.order-container{
  margin-bottom: 20px;
}

.primary-btn{
  width: 100%;
  border-radius: 4px;
  border: 2px solid;
  background-color: var(--primary-color);
  color: inherit;
  font-weight: bold;
  font-size: 14px;
  padding: 5 10px;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}

.error-title {
  text-align: center;
  font-size: 20px;
  color: var(--danger-color);
}

